<style>
    dt {
        float: left;
        margin-right: 4%;
        max-width: 40%;
        font-weight: bold;
    }
    
    dd {
        margin-left: 20%;
        margin-bottom: .5em;
        color: teal;
        font-weight: 600;
        //border-bottom: 2px solid black;
    }
    
    dd::after {
        content: " ";
        display: block;
        clear: left;
    }
	
	.md-dialog-content{
	min-width:1100px;
	}
</style>
<md-dialog>
    <form autocomplete="off" ng-cloak>
       

        <md-dialog-content>
            <div class="md-dialog-content">

                <md-content class="md-padding">

<div style="min-height:195px;" id="divtoprint">

   
	<div >
    <div>
        <div id="contentToPrint" class="container-fluid">
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <br/>
                    {{menu[0].facility_name}}&nbsp;&nbsp;
                        {{menu[0].description}}<br/>
                    <span><img alt="image" class="" src="/img/arm.png" width="90px" height="90px" />
                    </span><br/>
                    {{menu[0].address}}<br/>
                    {{menu[0].email}}<br>
                    {{date | date:'yyyy-MM-dd HH:mm:ss'}}<br>
                    <p><B>PATIENT DISCHARGE FORM</B></p>
                </div>
            </div>
            <div class="col-md-12">
            <div class="col-md-6-offset-2">
         <br/> 
                </div> 

				
				
				
            </div>
            <div class="row">
            <div class="col-md-12">
         <table class="table table-responsive  table-striped">
                            <thead>
							
							
							<tr>
                                              <td colspan="2" style="text-align: left;background-color: rgba(110, 104, 113, 0.41)">
                           <strong><p >PATIENT DETAILS</p></strong></td>
                                          </tr>
 
 <tr><th align="left">Patient Names</th><td>{{selectedPatient.fullname}}</td></tr>
      <tr><th align="left">Gender</th><td>{{selectedPatient.gender}}</td></tr>
      <tr><th align="left">Umri</th><td>{{selectedPatient.umri}}</td></tr>
<tr><th align="left">MRN</th><td>{{selectedPatient.medical_record_number}}</td></tr>
<tr><th align="left">WARD</th><td>{{selectedPatient.ward_name}}</td></tr>
  <tr><td class="empty"></td><td class="empty"></td></tr>
  
  <tr><td colspan="2" style="text-align: left;background-color: rgba(110, 104, 113, 0.41)">
                  <strong><p >DISCHARGE SUMMARY NOTES</p></strong></td>
                                          </tr>
 
 <tr><th align="left">Discharge Notes</th><td>{{discharge_summary.discharge_summary}}</td></tr>
 <tr><th align="left">Doctor Name</th><td>{{discharge_summary.discharged_by}}  ||   {{discharge_summary.mobile_number}}</td></tr>
 
 <tr><th align="left">Nurse Packed For Patient</th><td>{{menu[0].name}}</td></tr>
  <tr><td class="empty"></td><td class="empty"></td></tr>                        
						
                        </table>
                    </div> </div>
        </div>
       
    </div>
</div>
	
	   


 
    
                       
            </div>
        </md-dialog-content>

       
    </form>
	 <md-dialog-actions layout="row">         

           
			<md-button class="md-raised md-primary pull-right" ng-click="addDischarge(selectedPatient)">
                PRINT DISCHARGE FORM
            </md-button> 
			<md-button ng-click="cancel()">
                Cancel
            </md-button>
            
        </md-dialog-actions>
</md-dialog>